.rcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.rcard {
  display: flex;
  width: 80vw;

  justify-content: space-between;
  align-items: center;
  border: 5px solid grey;
  padding: 10px;
  background-color: #e8e8e8;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.rinfo {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rinfo h3 {
  margin-top: 0;
}

.ractions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.run-btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.run-btn {
  background-color: #4caf50;
  color: white;
}

.cmp-btn {
  background-color: gray;
  color: white;
}
